.payment-form-container {
    width: 716px;
}

.payment-form-container input {
    border: 1px solid #888C8C;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.payment-form-container input:focus {
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgb(15 17 17 / 15%) inset;
    outline: none;
}

.payment-form-header-container {
    width: 100%;
    background: -webkit-linear-gradient(top,#f7f7f7,#eaeaea);
    background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
    border-bottom: 1px solid #d5d9d9;
    border-radius: 8px 8px 0px 0px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.payment-form-header-container h4 {
    padding: 16px 0px;
    font-size: 16px;
    color: #0F1111
}

.payment-form-close-button-container {
    min-width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.payment-form-close-button-container:hover {
    cursor: pointer;
}

.payment-form-header-container i {
    background-image: url('../../../media/images/amazonicon2.png');
    background-size: 400px 900px;
    background-repeat: no-repeat;
    opacity: .64;
    width: 10px;
    height: 9px;
    background-position: -297px -5px;
    z-index: 2;
    display: inline-block;
}

.payment-form-bottom-section {
    padding: 16px 24px;
}

.input-container {
    display: flex;
}

.input-container p {
    width: 119px;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    margin-right: 13.4px;
}

.dropdown-button {
    border: 1px solid#D5D9D9;
    border-radius: 8px;
    color: #0F1111;
    background: #F0F2F2;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    font-size: 13px;
}

.icon-dropdown {
    background-image: url(../../../media/images/amazonicon2.png);
    -webkit-background-size: 400px 900px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    width: 10px;
    height: 8px;
    background-position: -7px -102px;
    display: inline-block;
    /* vertical-align: top; */
    margin-bottom: 1.5px;
}
