.create-review-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-review-container {
    width: 704px;
    padding: 13px 14px;
}

.create-review-container h2 {
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 16px;
    font-size: 24px;
}

.create-review-product-info-container {
    width: 100%;
    display: flex;
    font-size: 14px;
}

.create-review-product-info-container img {
    height: 62px;
    width: 62px;
    object-fit: cover;
}

.create-review-product-info-container p {
    height: 42px;
    line-height: 42px;
    padding: 0px 10px;
}

.create-review-container hr {
    border-top: 1px solid #e7e7e7;
    height: 1px;
    margin: 16px 0px;
    width: 100%;
}

.create-review-rating-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.create-review-rating-header-container p {
    color: #007185;
    font-size: 14px;
}

.create-review-rating-header-container p:hover {
    cursor: pointer;
}

.create-review-container h3 {
    font-size: 18px;
    font-weight: 700;
}

.create-review-rating-stars-container button {
    background-color: white;
}

.create-review-rating-stars-container button:hover {
    cursor: pointer;
}

.create-review-rating-stars-container img {
    width: 35px;
    height: 32.2px;
}
