.create-review-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-review-container {
    width: 704px;
    padding: 13px 14px;
}

.create-review-container h2 {
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 16px;
    font-size: 24px;
}

.create-review-product-info-container {
    width: 100%;
    display: flex;
    font-size: 14px;
}

.create-review-product-info-container img {
    height: 62px;
    width: 62px;
    object-fit: cover;
}

.create-review-product-info-container p {
    height: 42px;
    line-height: 42px;
    padding: 0px 10px;
}

.create-review-container hr {
    border-top: 1px solid #e7e7e7;
    height: 1px;
    margin: 16px 0px;
    width: 100%;
}

/* .create-review-rating-container {
    padding-top: 4px;
} */

.create-review-rating-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.create-review-rating-header-container p {
    color: #007185;
    font-size: 14px;
}

.create-review-rating-header-container p:hover {
    cursor: pointer;
}

.create-review-container h3 {
    font-size: 18px;
    font-weight: 700;
}

.create-review-rating-stars-container {
    padding-top: 4px;
}

.create-review-rating-stars-container button {
    background-color: white;
}

.create-review-rating-stars-container button:hover {
    cursor: pointer;
}

.create-review-rating-stars-container img {
    width: 35px;
    height: 32.2px;
}

.create-review-title-container input {
    width: calc(100% - 14px);
    height: calc(31px - 6px);
    padding: 3px 7px;
    border: 1px solid #888C8C;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    margin: 14px 0px;
}

.create-review-title-container input:focus {
    outline: none;
    border: 1px solid #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
    background-color: #F7FEFF;
}
