.header-outer-container {
    display: flex;
    background-color: rgb(19,25,33);
    justify-content: space-between;
    height: 60px;
    color: white;
    align-items: center;
}

.header-bottom-text {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.header-top-text {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    color: #ccc;
}

.header-left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 15px;
    margin-right: 1px;
    width: 99px;
    height: 49px;
    padding: 1px 8px 0px 6px;
    border: 1px solid transparent;
}
.header-logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-logo:hover, .header-set-location:hover {
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.header-set-location {
    width: 155px;
    height: 50px;
    padding: 0px 9px;
    margin: 5px 2px 5px 0px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-set-location img {
    width: 23px;
    height: 23px;
}

.header-set-location div {
    height: 30px;
}

.header-search-bar {
    background-color: white;
}

/* .header-search-bar-outer-container {
    height: 60px;
} */
.header-search-bar-contianer {
    display: flex;
}

.header-search-bar-category-dropdown {
    width: 52px;
    height: 38px;
    background-color: rgb(243,243,243);
}

.header-search-input-field {
    height: 38px;
}

.header-search-button {
    height: 38px;
    /* background-color: rgb(243,168,70); hover*/
    background-color: rgb(254,189,104);
}

.header-search-button:hover {
    background-color: rgb(243,168,70);
}


.header-user-auth-large {
    font-weight: bold;
}

.header-language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-language img {
    height: 19px;
    margin-right: 2px;
}
