.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    padding: 14px 18px;
}

.login-img-container {
    height: 37px;
    width: 123px;
    margin-bottom: 18px;
}

.login-img-container:hover {
    cursor: pointer;
}

.login-img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.login-width-provider {
    width: 350px;
}

.login-error-wrapper {
    border: 1px #c40000 solid;
    box-shadow: 0 0 0 4px #fcf4f4 inset;
    border-radius: 4px;
    position: relative;
    margin-bottom: 14px;
}

.login-error-container {
    padding: 14px 18px 14px 63px;
}

.login-error-container h4{
    color: #c40000;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.255;
    padding-bottom: 4px;
}

.login-error-container p {
    color: #111;
    font-size: 13px;
    line-height: 19px;
}

.login-error-icon {
    background-image: url("../../media/images/amazonicons.png");
    background-position: -248px -35px;
    background-size: 400px 750px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 27px;
    position: absolute;
    left: 18px;
    top: 11px;
}

.login-form-container {
    padding: 20px 26px;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    border: 1px #ddd solid;
    border-radius: 4px;
    width: calc(100% - 54px);
    margin-bottom: 22px;
}

.login-form-container input {
    width: calc(100% - 16px);
    height: 23px;
    padding: 3px 7px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
}

.login-form-container label {
    padding-left: 2px;
    padding-bottom: 2px;
    color: #111;
}

.login-field input{
    margin-bottom: 14px;
}

.login-field input:focus {
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.login-sign-in {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.login-entered-email-container {
    margin-bottom: 14px;
}

.login-entered-email-container span{
    color: #0066c0;
}

.login-entered-email-container span:hover {
    cursor: pointer;
}

.login-form-button {
    border-radius: 3px;
    font-size: 13px;
    height: 29px;
    width: 100%;
}

.login-form-bottom-text {
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    margin-top: 18px;
}

.login-divider {
    font-size: 12px;
    color: #767676;
    padding: 0 8px 0 7px;
    font-weight: 400 !important;
    width: calc(100% - 15px);
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    border-top: 1px solid #e7e7e7;
    z-index: 1;
}

.login-divider h5 {
    font-size: 12px;
    color: #767676;
    padding: 0 8px 0 7px;
    font-weight: 400 !important;
    z-index: 2;
    background-color: white;
    margin-top: -7px;
}

.login-signup-button {
    background: #eff0f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    height: 31px;
    /* line-height: 19px; */
    width: 100%;
}

.login-signup-button:hover {
    cursor: pointer;
    background: #e0e3e8;
    background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
}
