.search-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container {
    width: 100%
}

.search-header-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 10px -2px #ddd;
    margin-bottom: 8px;
    height: 41px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.search-header-container p {
    font-size: 14px;
    color: #0F1111;
    line-height: 41px;
    width: 1350px;
    padding: 0px 12px;
}

.search-header-container span {
    color: #C45500;
    font-weight: 700;
}

.search-bottom-section-container {
    padding-top: 14px;
    margin: 0px 12px;
    display: flex;
    justify-content: center;
    width: calc(100% - 24px);
}

.search-bottom-inner-container {
    width: 1350px;
}

.search-left-container {
    width: 260px;
}

.search-review-selection p {
    font-weight: 700;
    font-size: 14px;
    color: #0F1111;
}

.search-right-container {
    width: 1050px;
}

.star-icons {
    background-image: url(https://m.media-amazon.com/images/S/sash/ouR9NRElwmzAIev.png);
    -webkit-background-size: 512px 512px;
    background-size: 512px 512px;
    height: 22px;
    width: 95px;
    display: inline-block;
}

.search-4-star-icon {
    background-position: -2px -342px;
}

.search-3-star-icon {
    background-position: -293px -438px;
}

.search-2-star-icon {
    background-position: -99px -390px;
}

.search-1-star-icon {
    background-position: -390px -486px;
}
