.home-outer-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-outer-container {
    max-width: 1500px;
    position: relative;
}

.home-outer-container {
    display: flex;

}

.home-product-image-container {
    width: 320px;
    height: 230px;
}

.home-product-image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
