.address-list-outer-container {
    width: 724px;
}

.address-list-container {
    border-radius: 8px 8px 0 0;
    border: 1px #D5D9D9 solid;
    padding: 14px 18px;
}

.address-list-container hr {
    border-top: 1px solid #e7e7e7;
    margin-bottom: 4px !important;
}

.address-list-bottom-container {
    border-radius: 0px 0px 8px 8px;
    padding: 12px 18px 11px;
    background: #F0F2F2;
    font-weight: 700;
    margin-top: -1px;
    border: 1px #D5D9D9 solid;
}
